{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>OFFICIAL BLOG</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid_nav">
      <div class="navbar-header">
        <a class="navbar-brand">Mata Kuliah</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a>STORY 5</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>Daftar Mata Kuliah Fasilkom, Universitas Indonesia</h1>
  <h3>Benitho Ahmad Suryo</h3>
  <h3>Sistem Informasi 2019</h3>
  <hr>
  <table border=1 bgcolor= #fef5e7>
      <tr>
      <td><a href="/ubahdata">Ubah Data</a></td>
      <td><a href="/viewdata">Lihat Data</a></td>
      </tr>
  </table>
  <hr>
  {% block content %}
  {% endblock content %}
</body>