{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Database MATKUL</title>
{% endblock meta %}

{% block content %}
<form action = "savedata" method = "GET"> 
    {% csrf_token %} 
    <p>Masukan Data</p>
    {{form.as_p}}
    <input type="submit" value="Submit"> 
</form>
{% endblock content %}