{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Database MATKUL</title>
{% endblock meta %}

{% block content %}
{% if matkul %}
<table border=1>
    <tr>
        <th>Nama Matkul</th>
        <th>Nama Dosen</th>
        <th>Jumlah SKS</th>
        <th>Deskripsi Matkul</th>
        <th>Tahun Ajaran</th>
        <th>Ruang Kelas</th>
    </tr>
   
    {% for data in matkul %}
    <tr>
        <td align=center> {{ data.Nama_Matkul }} </td>
        <td align=center> {{ data.Nama_Dosen }} </td>
        <td align=center> {{ data.Jumlah_SKS }} </td>
        <td align=left> {{ data.Deskripsi_Matkul }} </td>
        <td align=center> {{ data.Tahun_Ajaran }} </td>
        <td align=center> {{ data.Ruang_Kelas }} </td>
    </tr>
    {% endfor %}

 </table>
{% endif %}
{% endblock content %}